.register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.singleRegister{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    &__title{
        font-size: 25px;
        margin-bottom: 20px;
    }
    &__box{
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        label{
            font-weight: bold;
            width: 100px;
        }
        input{
            margin-right: 20px;
            margin-left: 20px;
            flex: 1;
            border: 0;
            border-bottom: 1px solid #ddd;
            outline: none;
        }
        select{
            margin-right: 20px;
            margin-left: 20px;
            flex: 1;
            border: 0;
            border-bottom: 1px solid #ddd;
            outline: none;
        }

    }
    &__submit{
        padding: 10px 20px;
        border-radius: 4px;
        display: inline-block;
        margin-left: auto;
        margin-top: 20px;
    }
}

.MultiRegister{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__addRows{
        width: 30px;
        aspect-ratio: 1;  
        background: transparent;
        border: 1px solid #ddd;
        // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-right:5px;
        transition: all 0.6s;
        &:hover{
            background: #ddd;
            cursor: pointer;
        }
    }
    &__minusRows{
        width: 30px;
        aspect-ratio: 1;  
        background: transparent;
        border: 1px solid #ddd;
        margin: 0 5px;
        transition: all 0.6s;
        &:hover{
            background: #ddd;
            cursor: pointer;
        }
    }
    &__title{
        font-size: 25px;
        margin-bottom: 20px;
    }
    &__table{
        text-align:  center;
        width: 100%;
        border-spacing: 10px;   
        
        &-td{
            
            input{
                width: 100%;
                border: 0;
                border-bottom: 1px solid #ddd;
            }

            select{
                text-align: center;
                width: 100%;
                border: 0;
                border-bottom: 1px solid #ddd;
            }
        } 
    }
    &__submit{
        display: block;
        margin-left: auto;
        padding: 5px 10px;
        cursor: pointer;
        
        &-Contain{
            padding-right: 20px;
            width: 100%;
            margin: 5px 0;
        }
        
        
    }
    &__changeRows{
        width: 100%;
        padding-left: 20px;
        margin: 5px 0;
    }
    
}