
@keyframes showInput{
    0%{
        color: #000;
        
    }
    100%{
        color: #5945dd;
        text-decoration: underline;
    }
}
.createCourses{
    &__title{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    &__form{
        display: flex;
        flex-direction: column;

    }
    &__box{
        display: flex;
        margin: 10px 0;
        flex-wrap: wrap;
        & > label{
            font-weight: bold;
            margin-right: 20px;
            width: 100%;
            max-width: 130px;    
        }
        &Price{
            input[name="price"]{
                width: 0;
                padding: 0;
                margin: 0;
                border: 0;
                display: inline;
                &:focus{
                    & + label{
                        transition: all 0.3s;
                        animation: showInput 1s linear infinite;
                    }
                }
            }
        }
        
    }
    &__name{
        flex: 1;
        margin-right: 20px;
        border: 0;
        border-bottom: 1px solid #ddd;
        outline: none;
    }
    &__teacher{
        flex: 1;
        margin-right: 20px;
        outline: none;
        border: 0;
        border-bottom: 1px solid #ddd;
    }
    &__description{
        width: 100%;
        margin: 0 20px;
    }
    [data-preview-img]{
        width: 200px;
        aspect-ratio: 1;
        object-fit: cover;
    }
    &__startDate{
        width: 100%;
        outline: none;
        border: 0;
        border-bottom: 1px solid #ddd;
    }
    &__endDate{
        width: 100%;
        outline: none;
        border: 0;
        border-bottom: 1px solid #ddd;
    }
}
.react-datepicker-wrapper{
    flex: 1;
    margin-right: 20px;
}
@media(max-width: 692px){
    .adminCourses{
        &__box{
            width: 100%;
        }
    }
}