@use "sass:list";

$color-bg-courses-header: #9A2315;
$color-text-courses-header: #fff;
$color-border: #000;
$color-bg-subject: #F1EDED;

$color-bg-lessons: (
  #00DBDE,
  #0093E9,
  #85FFBD,
  #FFE53B,
  #FAD961
);

$bg-img-lessons: (
  linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%),
  linear-gradient(160deg, #0093E9 0%, #80D0C7 100%),
  linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%),
  linear-gradient(147deg, #FFE53B 0%, #FF2525 74%),
  linear-gradient(90deg, #FAD961 0%, #F76B1C 100%)
);

@for $i from 1 through 5 {
  .lessons-#{$i} {
    background-color: list.nth($color-bg-lessons, $i);
    background-image: list.nth($bg-img-lessons, $i);
  }
}
.courses{
    padding: 0 45px;
    &__type {
        list-style-type: none;
    }
    &__header{
        background-color: $color-bg-courses-header;
        color: $color-text-courses-header;
        padding: 4px 70px;
        font-weight: 400;
        letter-spacing: 3.5px;
        margin-bottom: 40px;
        font-size: 24px;
    }
    &__type{
        &-title{
            font-size: 20px;
            border-bottom: 1px solid $color-border;
            display: inline-block;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
    }
    
}
.subject{
    &__containner{
        width: 100%;
        background-color: $color-bg-subject;
        padding: 20px 20px;
        border-radius: 32px;
        margin-bottom: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        a{
            color: black;
            margin-bottom: 10px;
            &:hover{
                color: blue;
            }
        }
    }
    &__time{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;
    }
    &__description{
        margin-bottom: 15px;
    }
    &__actions{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
    }
}
