$color-bg-header: #212529;
$color-bg-siders: #212529;
$color-bg-button: #C7C8C9;
$color-text-siders: #C7C8C9;
$color-text-siders-child: #63a1de;
$color-bg-siders-hover: #373a3d;
.admin{
    &__header{
        width: 100%;
        background-color: $color-bg-header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 99;
        &-containner{
            width: 20%;
            display: flex;
            justify-content: space-between;
        }
        &-title{
            color: #fff;
            font-size: 23px;
        }
        &-closeSide{
            background: transparent;
            border: 0;
            color: $color-bg-button;
        }
        a i{
            color: $color-bg-button;
        }
    }
    &__main{
        display: flex;
        position: relative;
        &-containner{
            flex: 1;
            position: relative;
        }

    }
    &__siders{
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height: 100vh;
        padding-top: 80px;
        z-index: 2;
        background-color: $color-bg-siders;
        list-style: none;
        &.d-none{
            display: none;
        }
        &-item{
            padding: 10px 5px;
            transition: all 0.2s;
            overflow: hidden;
            &[data-type-register]:hover{
                + .admin__siders-itemChild{
                    display: block;
                }
            }
            a{
                color: $color-text-siders;
                transition: all 0.2s;
                text-wrap: wrap;
            }
            &:hover{
                background-color: $color-bg-siders-hover;
                a{
                    color: #ffffff;
                }
                
            }
            &Child{
                padding: 10px 5px;
                transition: all 0.2s;
                margin-left: 15px;
                overflow: hidden;
                display: none;
                a{
                    color: $color-text-siders-child;
                    transition: all 0.2s;
                    text-wrap: wrap;
                }
                &:hover{
                    display: block;
                    background-color: $color-bg-siders-hover;
                    a{
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
.offset-2{
    width: 20%;
    height: calc(100vh - 48.8px);
    transition: all 0.3s;
    background: $color-bg-siders;
    &.d-none{
        width: 0;
    }
}
.my-account{
    &__logout{
        color: #fff;
        padding: 5px 10px;
        background-color: #e00c0c;
        border:1px solid #b9586b;
        border-radius: 5px;
        margin-left: 14px;
    }
}